{{> templates/header.html}}

<div class="col-md-8">
    <h3>Aplicativos</h3>
    <ul>
        {{#contexts}}
        <li>
            <a href="{{base}}/contexts/{{.}}/del"><span class="glyphicon glyphicon-remove"></span></a>
            <a href="{{base}}/contexts/{{.}}">{{.}}</a>
        </li>
        {{/contexts}}
        {{^contexts}}
        <li>N&atilde;o h&aacute; nenhum aplicativo.</li>
        {{/contexts}}
    </ul>
</div>

<div class="col-md-4">
    <form action="{{base}}/contexts" method="POST">
        <fieldset>
            <h3>Cadastrar novo</h3>
            <div class='form-group'>
                <input id="context" name="context" type="text" placeholder="context" class='form-control'/>
            </div>
            <button class='btn btn-success'>Cadastrar</button>
        </fieldset>
    </form> 
</div>

{{> templates/footer.html}}

