{{> templates/header.html}}

<div class="eleven columns">
    <form action="{{base}}/logout" method="POST" id="logout">
        <p>
            Bem vindo, {{user.name}}. 
            <button class="btn btn-mini">Sair</button>
        </p>
    </form>
</div>

<div class="four columns offset-by-one">
    {{#admin}}
    <form action="{{base}}/search">
        <label for="q">Buscar usu&aacute;rio</label>
        <input id="q" name="q" type="text" placeholder="termo para busca" />
        <button>Buscar</button>
    </form>
    {{/admin}}
</div>


{{> templates/footer.html}}
