{{> templates/header.html}}

<div class="eleven columns">
    <h3>Cadastros Pendentes</h3>
    <ul>
        {{#pendding}}
        <li> <a href="/user/{{uuid}}">{{name}}</a> ( {{email}} ) </li>
        {{/pendding}}
    </ul>
</div>

<div class="four columns offset-by-one">
    <form action="/logout" method="POST">
        <p>
            Bem vindo, {{user.name}}. 
            <button class="btn btn-mini">Sair</button>
        </p>
    </form>
    <form action="/search">
        <label for="q">Buscar usu&aacute;rio</label>
        <input id="q" name="q" type="text" placeholder='termo para busca' />
        <button>Buscar</button>
    </form>
</div>


{{> templates/footer.html}}
