{{> templates/header.html}}

<div class="eleven columns">
    <h3>Entidades cadastradas</h3>
    <p class="alert">Proceda com cuidado.</p>

    <ul>
        {{^entities}}
        <li>N&atilde;o h&aacute; entidade cadastrada.</li>
        {{/entities}}
        {{#entities}}
        <li>
            <a href="{{base}}/entities/{{value}}/delete" class=''><i class="icon-remove"></i></a>
            {{name}}
        </li>
        {{/entities}}
    </ul>
    <ul class='pager'>
        <li {{^prev}}class='disabled'{{/prev}}><a href="{{base}}{{prev}}" >anterior</a></li>
        <li {{^next}}class='disabled'{{/next}}><a href="{{base}}{{next}}">pr&oacute;ximo</a></li>
    </ul>

</div>

<div class="four columns offset-by-one">
    <form action="{{base}}/entities" method="POST">
        <fieldset>
            <h3>Cadastrar novo</h3>
            <input id="name" name="name" type="text" placeholder="Nome da entidade"/>
            <input id="value" name="value" type="text" placeholder="Identificador da entidade"/>
            <button class='btn btn-success'>Cadastrar</button>
        </fieldset>
    </form> 
</div>

{{> templates/footer.html}}
