<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flora Connect</title>
    <link rel="stylesheet" href="{{base}}/css/base.css" />
    <link rel="stylesheet" href="{{base}}/css/layout.css" />
    <link rel="stylesheet" href="{{base}}/css/skeleton.css" />
    <link rel="stylesheet" href="{{base}}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{base}}/css/styles.css" />
    <link rel="stylesheet" href="{{base}}/css/ui-lightness/jquery-ui-1.10.1.custom.min.css" />
</head>
<body>
    <div class="container">
        <div class="sixteen columns header">
            <a href="{{base}}/"><h1>Flora Connect</h1></a>
        </div>
        {{#user}}
        <nav class="sixteen columns navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="{{base}}/dashboard">P&aacute;gina Inicial</a></li>
                    <li><a href="{{base}}/users/0">Usu&aacute;rios</a></li>
                    <li><a href="{{base}}/pendding">Pend&ecirc;ncias</a></li>
                    <li><a href="{{base}}/roles">Pap&eacute;is</a></li>
                    <li><a href="{{base}}/entities/0">Entidades (taxons)</a></li>
                </ul>
            </div>
        </nav>
        {{/user}}
