{{> templates/header.html}}

<div class="eight columns">
    <p>CNCFlora Connect &eacute; o sistema unificado de acesso e permiss&otilde;es para os sitemas
        da plataforma de dados sobre Biodiversidade, conservação e planejamento de a&ccedil;&otilde;es 
        do CNCFlora.</p>
    <form id="login" action="">
        <button class="btn btn-link">Acessar ferramenta</button>
    </form>
    <a href="{{base}}/register" class="btn btn-link">Requisitar cadastro</a>
</div>

{{> templates/footer.html}}
