{{> templates/header.html}}

<div class="eight columns">
    <p>CNCFlora Connect &eacute; o sistema unificado de acesso e permiss&otilde;es para os sitemas
        da plataforma de dados sobre biodiversidade, conservação e planejamento de a&ccedil;&otilde;es 
        do CNCFlora.</p>
    <p></p>
</div>

<br clear="all" />

<form id="login" action="" class='eight columns main-form'>
    <fieldset>
        <legend>Já possuo cadastro</legend>
        <button class="btn btn-success">Acessar conta</button>
    </fieldset>
</form>

<form action="{{base}}/register" class='eight columns main-form'>
    <fieldset>
        <legend>Não possuo cadastro</legend>
        <button class="btn btn-primary">Requisitar cadastro</button>
    </fieldset>
</form>

<p><a href="{{base}}/login-test">Não sei se possuo cadastro, clique aqui para descobri.</a></p>


{{> templates/footer.html}}
