{{> templates/header.html}}

<div class="sixteen columns login">
    <form action="/login" method='POST'>
        <fieldset>
            <legend>Efetuar login no sistema</legend>
            <p class='alert'>Login inv&aacute;lido.</p>
            <input id="email" name="email" placeholder='E-mail' type="text" />
            <input id="password" name="password" placeholder='Password' type="password" />
            <button class="btn btn-block btn-success" type="submit">Entrar</button>
        </fieldset>
        <p>
        	<a href="/lost">Lembrar conta</a>
            |
        	<a href="/register">Requisitar cadastro</a>
        </p>
    </form>
</div>

{{> templates/footer.html}}

