{{> templates/header.html}}

<div class="sixteen columns login">
    <form action="/login" method='POST' id='login'>
        <fieldset>
            <legend>Entrar no sistema</legend>
            <!--
            <p class='alert hidden'>Login inv&aacute;lido.</p>
            -->
            <button class="btn btn-block btn-success" type="submit">Entrar</button>
        </fieldset>
        <p>
        	<a href="/register">Requisitar cadastro</a>
        </p>
    </form>
</div>

{{> templates/footer.html}}

