{{> templates/header.html}}

<div class="sixteen columns login">
    <p>Em breve...</p>
    <!--
    <form action="{{base}}/recover" method='POST'>
        <fieldset>
            <legend>Recuperar senha</legend>
            <input id="email" name="email" placeholder='E-mail' type="text" />
            <button class="btn btn-success" type="submit">Enviar</button>
        </fieldset>
    </form>
    -->
</div>
<script type="text/javascript">var noconnect=true;</script>

{{> templates/footer.html}}

