{{> templates/header.html}}

<div class="col-md-6">
    <form action="{{base}}/recover" method='POST'>
        <fieldset>
            <legend>Recuperar senha</legend>
            <div class='form-group'>
                <p>
                    <input id="email" name="email" placeholder='E-mail' type="text" class='form-control'/>
                </p>
                <p>
                    <button class="btn btn-success" type="submit">Enviar</button>
                </p>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">var noconnect=true;</script>

{{> templates/footer.html}}

