{{> templates/header.html}}

<div class="eleven columns">
    <h3>Pap&eacute;is cadastrados</h3>

    <ul>
        {{#roles}}
        <li>
            <a href="{{base}}/roles/{{role}}/delete" class=''><i class="icon-remove"></i></a>
            <a href="{{base}}/roles/{{role}}/users">{{role}}</a>
        </li>
        {{/roles}}
    </ul>

</div>

<div class="four columns offset-by-one">
    <form action="{{base}}/roles" method="POST">
        <fieldset>
            <h3>Cadastrar novo</h3>
            <input id="role" name="role" type="text" placeholder="Nome do papel"/>
            <button class='btn btn-success'>Cadastrar</button>
        </fieldset>
    </form> 
</div>

{{> templates/footer.html}}
