{{> templates/header.html}}

<div class="eleven columns">
    <h3>Usu&aacute;rios encontrados para <strong>{{q}}</strong>:</h3>
    <ul>
        {{#users}}
        <li><a href='/user/{{uuid}}'>{{name}}</a> ({{email}})</li>
        {{/users}}
    </ul>
</div>

<div class="four columns offset-by-one">
    <form action="/search">
        <label for="q">Buscar usu&aacute;rio</label>
        <input id="q" name="q" type="text" placeholder='termo para busca' value='{{q}}'/>
        <button>Buscar</button>
    </form>
</div>

{{> templates/footer.html}}
