{{> templates/header.html}}

<div class="col-md-8">
    <h3>Usu&aacute;rios encontrados para <strong>{{q}}</strong>:</h3>
    <ul>
        {{#users}}
        <li><a href='{{base}}/user/{{uuid}}'>{{name}}</a> ({{email}})</li>
        {{/users}}
    </ul>
</div>

<div class="col-md-4">
    <form action="{{base}}/search">
        <div class='form-group'>
            <label for="q">Buscar usu&aacute;rio</label>
            <input id="q" name="q" type="text" placeholder='termo para busca' value='{{q}}' class='form-control'/>
        </div>
        <button class='btn btn-default'>Buscar</button>
    </form>
</div>

{{> templates/footer.html}}
