{{> templates/header.html}}

<div class="col-md-8">
    {{#profile_user}}
        <h3>{{name}} <small>({{email}})</small></h3>
        {{#message}}
            <p class="alert alert-{{type}}">{{message}}</p>
        {{/message}}
        <form action="{{base}}/user/{{uuid}}" method='POST'>
            <fieldset>
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input id="name" name="name" type="text" value='{{name}}' class='form-control'/>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email" name="email" type="text" value='{{email}}'class='form-control'/>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" name="status" class='form-control'>
                        <option value="waiting" {{#is_waiting}} selected {{/is_waiting}}>Pendente</option>
                        <option value="approved" {{#is_approved}} selected {{/is_approved}}>Aprovado</option>
                        <option value="blocked" {{#is_blocked}} selected {{/is_blocked}}>Bloqueado</option>
                    </select>
                </div>
                <button type="submit" class='btn btn-success'>Salvar</button>
            </fieldset>
        </form>
        <h4>Change password</h4>
        <form action="{{base}}/user/{{uuid}}/pass" method='POST'>
            <fieldset>
                <label for="password">Password</label>
                <input name="password" type="password" />
                <button type="submit" class='btn btn-success'>Change</button>
            </fieldset>
        </form>
        <h4>Pap&eacute;is e entidades</h4>
        <ul>
            {{#contexts}}
                <li>
                    <a href="{{base}}/user/{{uuid}}/unassign/context/{{context}}"><i class="glyphicon glyphicon-remove"></i></a>
                    {{context}}
                    <ul>
                    {{#roles}}
                    <li>
                        <a href="{{base}}/user/{{uuid}}/unassign/context/{{context}}/role/{{role}}" ><i class="glyphicon glyphicon-remove"></i></a>
                        {{role}}
                        <ul>
                        {{#entities}}
                            <li>
                                <a href="{{base}}/user/{{uuid}}/unassign/context/{{context}}/role/{{role}}/entity/{{.}}" ><i class="glyphicon glyphicon-remove"></i></a>
                                {{.}}
                            </li>
                        {{/entities}}
                        </ul>
                    </li>
                {{/roles}}
                </ul>
            </li>
            {{/contexts}}
        </ul>
    {{/profile_user}}
</div>

<div class="col-md-4">
    <form action="{{base}}/user/{{profile_user.uuid}}/assign/role" method='POST'>
        <h3>Delegar papel</h3>
        <fieldset>
            <div class='form-group'>
                <input id="context_for_entity" name="context" type="text" placeholder="context" rel='complete' complete='contexts'  class='form-control'/>
            </div>
            <div class='form-group'>
                <input id="role_for_entity" name="role" type="text" placeholder="Papel" rel='complete' complete='roles'  class='form-control'/>
            </div>
            <button class="btn btn-success">Adicionar</button>
        </fieldset>
    </form>
    <form action="{{base}}/user/{{profile_user.uuid}}/assign/entity" method='POST'>
        <h3>Delegar entidade</h3>
        <fieldset>
            <div class='form-group'>
                <input id="context_for_entity" name="context" type="text" placeholder="context" rel='complete' complete='contexts' class='form-control'/>
            </div>
            <div class='form-group'>
                <input id="role_for_entity" name="role" type="text" placeholder="Papel" rel='complete' complete='roles'  class='form-control'/>
            </div>
            <div class='form-group'>
                <input id="entity" name="entity" type="text" placeholder="Entidade" rel='complete' complete='entities'  class='form-control'/>
            </div>
            <button class="btn btn-success">Adicionar</button>
        </fieldset>
    </form>
</div>

{{> templates/footer.html}}
