{{> templates/header.html}}

    {{#user}}
        <h3>{{name}} <small>({{email}})</small></h3>
        <form action="{{base}}/edit" method='POST'>
            <fieldset>
                <input name="uuid" id="uuid" value="{{uuid}}" type="hidden" />
                <input name="status" id="status" value="{{status}}" type="hidden" />
                <label for="name">Nome</label>
                <input id="name" name="name" type="text" value='{{name}}'/>
                <label for="email">E-mail</label>
                <input id="email" name="email" type="text" value='{{email}}' readonly='readonly'/>
                <label for="status">Status</label>
                <select id="status" name="status">
                    <option value="waiting" {{#is_waiting}} selected {{/is_waiting}}>Pendente</option>
                    <option value="approved" {{#is_approved}} selected {{/is_approved}}>Aprovado</option>
                    <option value="blocked" {{#is_blocked}} selected {{/is_blocked}}>Bloqueado</option>
                </select>
                <button type="submit" class='btn btn-success'>Salvar</button>
            </fieldset>
        </form>
        <h4>Change password</h4>
        <form action="{{base}}/edit/pass" method='POST'>
            <fieldset>
                <input name="uuid" id="uuid" value="{{uuid}}" type="hidden" />
                <label for="password">Password</label>
                <input name="password" type="password" />
                <button type="submit" class='btn btn-success'>Change</button>
            </fieldset>
        </form>
    {{/user}}

{{> templates/footer.html}}
