{{> templates/header.html}}

<div class="eleven columns">
    <h3>Usu&aacute;rios cadastrados</h3>
    <ul>
        {{#users}}
        <li><a href='{{base}}/user/{{uuid}}'>{{name}}</a> &lt;{{email}}&gt;</li>
        {{/users}}
    </ul>
    <ul class='pager'>
        <li {{^prev}}class='disabled'{{/prev}}><a href="{{base}}/users/{{prev}}" >anterior</a></li>
        <li {{^next}}class='disabled'{{/next}}><a href="{{base}}/users/{{next}}">pr&oacute;ximo</a></li>
    </ul>
</div>

<div class="four columns offset-by-one">
    <form action="{{base}}/search">
        <label for="q">Buscar usu&aacute;rio</label>
        <input id="q" name="q" type="text" placeholder="termo para busca" />
        <button>Buscar</button>
    </form>
    <form action="{{base}}/users" method="POST">
        <fieldset>
            <h3>Cadastrar novo</h3>
            <input id="name" name="name" type="text" placeholder="Nome"/>
            <input id="email" name="email" type="text" placeholder="E-mail"/>
            <input id="password" name="password" type="password" placeholder="Password" />
            <button class='btn btn-success'>Cadastrar</button>
        </fieldset>
    </form> 
</div>

{{> templates/footer.html}}
