/* YOUR CSS HERE */

h1 {
    font-size: 25px;
    color: transparent;
    background: url('../img/flora.png') no-repeat ;
    height: 100px;
}

h2 {
    font-size: 20px;
}

.header a {
    text-decoration: none;
}

#connect-page input, #connect-page button {
    width: 100%;
}

.hidden {
    display: none;
}
.login {
}

.login form {
    text-align:left;
    margin: 0 auto;
    display: table;
    position: relative;
    width: auto;
}

.login form legend {
    margin-bottom: 15px;
}

.login form input {
}

.login form p {
    width: auto;
}

.login form p a {
    text-transform: lowercase;
}

nav li {
    margin-bottom: 0;
}


#index-page form.main-form {
    text-align: center;
}

#index-page form.main-form legend {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

#index-page form.main-form button {
    margin-top: 20px;
}

#index-page p {
    text-align:center;
}

#index-page .eight {
    margin-left: 25%;
}

#register-page form p input {
    display: inline-block;
}
#register-page form p input label {
}

#register-page form p {
    color: red;
}
